h1 {
  text-align: center;
  font-family: Verdana, Arial, sans-serif;
}
h2 {
  text-align: center;
  font-family: Verdana, Arial, sans-serif;
}
p {
  font-family: Georgia, "Times New Roman", serif;
  background-color: #a4edba;
  margin: 10px 140px;
  padding: 10px 20px;
}
body {
  margin: 10px 100px;
  background-color: #E9E9E9;
}
#second {
  width:50%;
  margin: auto;
}
.highcharts-background {
	fill: #E9E9E9;
}

@media (max-width: 800px) {
	article { width: 100%; }
	p { width: 100%;
	margin: 0;}
